
.home_page{
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 2rem;

    color: white;
}
/* *************TITLE************ */
.home_page_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    user-select: none;
}
.home_page_title div span {
    font-size: 4rem;
}
.home_page_title_reduced{
    font-size: 4rem;
    display: none;
    user-select: none;
    
}
/* ********************************* */



/* ************---UI---*************/
.home_page_UI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left: solid 1px white;
    border-top: none;
    padding-left: 2rem; 
    font-size: 2rem;
    gap: 1rem;
}
.home_page_UI div {
    border: 1px white solid;
    text-align: center;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    background-color: transparent;
}
.home_page_UI p h1{
    font-weight: normal;
    font-size: 2rem;
    border: 1px white solid;
    text-align: center;
    user-select: none;
    padding: 5px;
    background-color: transparent;
    
}
.home_page_UI div:hover{
    background-color: white;
    color:black;
}
.home_page_name_input{
    background-color: white;
    box-shadow: none; border: 0; outline: 0;
    font-size: 1rem;
    width: 200px;
    caret-color: black;
    color:black;
    padding: 5px;
    text-align: center;
}
.home_page_join_input{
    background-color: white;
    box-shadow: none; border: 0; outline: 0;
    font-size: 1rem;
    width: 200px;
    caret-color: black;
    color:black;
    padding: 5px;
    text-align: center;
}
.home_page_UI_ghostdiv{
    border: 1px white solid;
    text-align: center;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    background-color: transparent;
    display: flex;
}
.home_page_error_message{
    color: red;
    font-size: 1rem;
}
/* *********END---UI---*************/



/* ************---MEDIA UPDATE---*************/

/*MOBILE FORMAT*/
@media screen and (max-width: 500px){
    .home_page{

        flex-direction: column;
        gap: 10px;
    }
    .home_page_title_reduced{
        display: block;
    }
    .home_page_title{
        display: none;
    }
    .home_page_UI{
        border-top: solid 1px white;
        border-left: none;
        padding: 30px;
    }
}

/*ANCHOR TOP WHEN: HEIGHT TOO SHORT AND MOBILE*/
@media screen and (max-width: 500px) and (max-height: 400px){
   .home_page{
    justify-content: flex-start;
   }
}

/*ANCHOR TOP WHEN: HEIGHT TOO SHORT AND PC*/
@media screen and (min-width: 501px) and (max-height: 400px){
    .home_page{
     align-items: flex-start;
     margin-top: 30px;
    }


 }
